* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 10px;
  overflow: hidden;
}

.header-font {
  font-family: 'Lexend Deca', sans-serif;
}

.reamaining-body-font {
  font-family: 'Noto Sans', sans-serif;
}

.display-none {
  display: none;
}

.disply-block {
  display: block;
}

.brand-color {
  color: #4953de;
}